.section__container {
  display: flex;
  flex-direction: column;
  padding: 50px 120px;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  .section__container {
    padding: 32px 16px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 32px 8px;
  }
}
