@import "../../scss/config";
.btn {
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  padding: 15px;
  margin-right: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.4s;
  width: 100%;
  max-width: 152px;
  min-width: 100px;

  &__primary {
    background: $primary;
    opacity: 0.9;
  }

  &__primary:hover {
    border-color: 2px solid $primary;
    color: white;
    opacity: 1;
  }

  &__secondary {
    background: $light;
    border-color: $primary;
    color: $primary;
  }

  &__secondary:hover {
    background: $primary;
    border-color: $primary;
    color: #fff;
  }

  &__danger {
    background: $danger;
    border-color: $danger;
    color: #fff;
    opacity: 0.8;
  }

  &__danger:hover {
    opacity: 1;
  }
}
