@import "../../scss/config";
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
  height: 80px;
  min-width: 100vw;
  background-color: $primary;

  &__homeLink {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
    color: $light;
    opacity: 0.8;
    text-decoration: none;
  }
  &__homeLink:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

@media screen and (max-width: 600px) {
  .navbar .search-container {
    float: none;
  }

  .navbar input[type="text"] {
    border: 1px solid #ccc;
  }
}
